.panel {
  background-color: #fff;
  border: 1px solid #C7C7C7;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  position: relative;

  &.pad, &.padding {
    padding: 20px;
  }

  // a panel that can adhere to columns
  &.sized {
    width: auto;
    padding: 0px;

    .panel-body {
      padding-top: 0px;
    }

    &.size-lg {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(8);
      min-height: 500px;
    }

    &.size-md {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(6);
      min-height: 300px;
    }

    &.size-sm {
      @include make-xs-column(6);
      @include make-sm-column(6);
      @include make-md-column(4);
      min-height: 200px;
    }

    @media (min-width: $screen-sm-min) {
      &.pos-left { border-right: 0px; }
      &.pos-right { border-left: 0px; }
    }
  }

  &.panel-heading {
    border-radius: 0px;
  }

}

.search-box {
  @extend .form-control;
  border-radius: 0px;
}
