.panel {
  background-color: #fff;
  border: 1px solid #C7C7C7;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &.pad, &.padding {
    padding: 20px;
  }

  // a panel that can adhere to columns
  &.sized {
    width: auto;
    padding: 0px;
    .panel-body {
      padding-top: 0px;
    }

    &.size-lg {
      @include make-md-column(8);
      @include make-sm-column(12);
      @include make-xs-column(12);
    }

    &.size-md {
      @include make-md-column(6);
      @include make-sm-column(12);
      @include make-xs-column(12);
    }

    &.size-sm {
      @include make-md-column(4);
      @include make-sm-column(6);
      @include make-xs-column(6);
    }
  }

}

.search-box {
  @extend .form-control;
  border-radius: 0px;
}
