<% include nav.ejs %>


<!-- login form -->
<div class="login-form">

  <!-- hero image -->
  <img class="hero" src="/img/logo.png" />

  <!-- the actual login form -->
  <form action="/auth/user" method="post">
    <div class="form-group username">
      <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="form-group password">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="form-group">
      <input type="submit" value="Log In" />
    </div>
  </form>

  <!-- flash text -->
  <% if (flash_msg && flash_msg.length) { %>
    <div class="alert alert-danger">
      <%= flash_msg.length && flash_msg[flash_msg.length-1].message || "" %>
    </div>
  <% } %>
</div>

<% include footer.ejs %>
