<div class="home-page" ng-controller="HomeController">

  <!-- upper section -->
  <h1 class="text-center">{{username}}</h1>

  <!-- grocery lists -->
  <div class="panel sized size-md">
    <div class="panel-heading">Grocery Lists</div>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">More...</li>
    </ul>
  </div>

  <!-- recipe lists -->
  <div class="panel sized size-md">
    <div class="panel-heading">Recipes</div>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">More...</li>
    </ul>
  </div>

</div>
